:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: rgb(32, 203, 218);
  font-size: 4em;
  line-height: 1.1;
}

h2 {
  color: rgb(32, 203, 218);
  font-size: 1.5em;
  line-height: 1.1;
}

button {
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(32, 203, 218);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
