legend {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 10px;
}

fieldset {
    color: white;
    margin-bottom: 30px;
    border-radius: 10px 0 10px 0;
    padding-bottom: 10px;
    
}

.new-card-form-wrapper {
    padding: 20px;
}

.form-group {
    display: flex;
    flex-wrap: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    margin: 0 10px;
    width: 90%;
    padding: 5px;
}

.form-group.error {
    border: 1px solid red;
}

.errorFeedback {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-left: 15px;
    color: red;
    text-align: center;
    font-weight: 900;
}

label {
    margin-right: 5px;
}

label.required {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label.required::before {
    content: "* ";
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    margin-left: 5px;
    margin-top: 10px;
    flex-grow: 1;
}

button {
    margin: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px 0;
    border-color: white;
    color: white;
    background-color: goldenrod;
}
button:hover {
    margin: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px 0;
    border-color: rgb(132, 230, 114);
    color: rgb(40, 122, 13);
    background-color: rgb(33, 253, 4);
}

hr {
    margin-top: 20px;
    border: 2px solid goldenrod;
}

.tip {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: goldenrod;
}